@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Arial", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 233, 233);
}
form {
  background-color: white;
  width: 350px;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 10px 10px 10px rgb(206, 206, 206);
}
.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
input {
  padding: 0.7rem;
  border-radius: 0.4rem;
  border: 1px solid gray;
  outline: none;
}
label {
  margin-bottom: 0.5rem;
}
h1 {
  text-align: center;
}
.btn {
  padding: 10px 15px;
  background-color: black;
  color: white;
  width: 100%;
  margin-top: 1rem;
}

img {
  width: 50%;
  margin: 0 0 0 2rem;
}

.payment-success-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.payment-success-card {
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.success-icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  color: #28a745;
}

.success-message {
  font-size: 24px;
  font-weight: bold;
  color: #28a745;
}

.amount {
  font-size: 18px;
  margin-top: 10px;
}

.transaction-id {
  font-size: 16px;
  margin-top: 5px;
  color: #555;
}

.payment-failure-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
  padding: 20px;
}

.payment-failure-card {
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.failure-icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  color: red
}

.failure-message {
  font-size: 24px;
  font-weight: bold;
  color: red;
}

.amount {
  font-size: 18px;
  margin-top: 10px;
}

.error-message {
  font-size: 16px;
  margin-top: 15px;
  color: #555;
}

.retry-payment {
  background-color: #ffc107;
  color: #fff;
}

.back-home {
  background-color: #007bff;
  color: #fff;
}